# InDebted DA Takehome - Keith Santos
I'll be doing an EDA to answer these 5 questions and hopefully gain more insights 

1. How should we handle the missing values for the columns age and customer_country?
2. What time of the day should we send our messages in each country?
3. What should be the preferred channel to use when communicating with customers?
4. What are the main metrics, dimensions and filters to be included in the dashboard?
5. What is the communications performance over time? What could be causing this behaviour?

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_rows', None)

In [10]:
df_csv = pd.read_csv('communications.csv')#, on_bad_lines='skip')
print(df_csv.shape)
df_csv.head()

(145941, 15)

,message_id,customer_id,sent_at,clicked,converted,client_id,gender,customer_country,age,created_at,client_name,product_type,client_country,channel,message_number
0,28d82c62db5989d9441351f58738c6a8,f13e966f9dc1e2aa7bffec6c9efa8e11,2021-01-04 10:03:16.376000+00:00,0,0,cfcd208495d565ef66e7dff9f98764da,F,NaN,51.0,2021-01-03 15:58:50.376000+00:00,SwanPay,BNPL,UK,SMS,1.0
1,0f98a1bbf7f2b66f420816a65c8d9b77,f13e966f9dc1e2aa7bffec6c9efa8e11,2021-01-12 08:34:09.376000+00:00,0,0,cfcd208495d565ef66e7dff9f98764da,F,NaN,51.0,2021-01-03 15:58:50.376000+00:00,SwanPay,BNPL,UK,SMS,2.0
2,97f9ed967d2334ce0b4ebfcfc9b5c25c,f13e966f9dc1e2aa7bffec6c9efa8e11,2021-01-19 08:58:11.376000+00:00,0,0,cfcd208495d565ef66e7dff9f98764da,F,NaN,51.0,2021-01-03 15:58:50.376000+00:00,SwanPay,BNPL,UK,Email,3.0
3,3d0615ca493d69e16265ab688495c134,f13e966f9dc1e2aa7bffec6c9efa8e11,2021-01-28 10:43:04.376000+00:00,0,0,cfcd208495d565ef66e7dff9f98764da,F,NaN,51.0,2021-01-03 15:58:50.376000+00:00,SwanPay,BNPL,UK,Email,4.0
4,3eb3a03a007bd1adf7482e6d95f7b942,f13e966f9dc1e2aa7bffec6c9efa8e11,2021-02-04 11:28:56.376000+00:00,0,0,cfcd208495d565ef66e7dff9f98764da,F,NaN,51.0,2021-01-03 15:58:50.376000+00:00,SwanPay,BNPL,UK,Email,5.0

In [12]:
df_csv.dtypes

message_id           object
customer_id          object
sent_at              object
clicked               int64
converted             int64
client_id            object
gender               object
customer_country     object
age                 float64
created_at           object
client_name          object
product_type         object
client_country       object
channel              object
message_number      float64
dtype: object

### 1. How should we handle the missing values for the columns age and customer_country?

In [11]:
df_csv.isna().sum()

message_id              0
customer_id             0
sent_at                 0
clicked                 0
converted               0
client_id               0
gender              31676
customer_country    30146
age                 22020
created_at              0
client_name             0
product_type            0
client_country          0
channel                 0
message_number          0
dtype: int64

In [13]:
df_csv["customer_country"].value_counts()

UK    49146
CA    33911
NZ    32738
Name: customer_country, dtype: int64

In [17]:
df_csv["age"].value_counts().sort_index()

18.0      909
19.0     2615
20.0     3811
21.0     3617
22.0     4478
23.0     4271
24.0     4499
25.0     4291
26.0     3846
27.0     3046
28.0     3249
29.0     2428
30.0     2272
31.0     2642
32.0     1698
33.0     1720
34.0     1122
35.0     1146
36.0     1069
37.0      822
38.0     1399
39.0     1381
40.0     1126
41.0     1552
42.0     1117
43.0     1253
44.0     1769
45.0     1683
46.0     1829
47.0     1599
48.0     2024
49.0     2263
50.0     2171
51.0    11736
52.0     2396
53.0     1659
54.0     2266
55.0     2595
56.0     2235
57.0     1846
58.0     1805
59.0     1664
60.0     1394
61.0     1546
62.0     1223
63.0     1356
64.0      868
65.0      933
66.0      713
67.0      724
68.0      741
69.0      611
70.0      698
71.0      821
72.0     1046
73.0      782
74.0      772
75.0      494
76.0      627
77.0      472
78.0      692
79.0      487
80.0      328
81.0      523
82.0      431
83.0      304
84.0      444
85.0      154
86.0      195
87.0      342
88.0      186
89.0      232
90.0      223
91.0      148
92.0      166
93.0       85
94.0      100
95.0      131
96.0       10
Name: age, dtype: int64